run = "npm start"
entrypoint = "index.js"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run build && npm start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3001
externalPort = 80
